.lightbox-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: none;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#lightbox-close{
    position: absolute;
    top: 2%;
    right: 2%;
    cursor: pointer;
    font-size: 2rem;
    color: var(--color-primary);
}

#lightbox-previous, #lightbox-next {
    cursor: pointer;
    font-size: 3rem;
    color: var(--color-primary);
}

.dialog-content {
    height: 85%;
    width: 70%;
    object-fit: cover;
}

#content-wrapper {
    height: 100%;
}

#content-wrapper p {
    color: var(--color-primary);
    font-size: 1.2rem;
    text-align: center;
    margin: 0;
}

#imgContent, #videoContent {
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 5px;
}

#videoContent{
    object-fit: cover;
}