@import 'lightbox.css';

/* #contact_modal {
    display: none;

    width: 100%;
    height: 100%;
    background-color: rgba(196, 196, 196, 0.5);
    position: fixed;
    top: 0;
}

#contact_modal header {
    display: flex;
} */

/* .photograph-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-lightgrey);
    height: 300px;
    margin: 0 100px;
}

.photograph-infos {
    width: 30%;
    display: flex;
    justify-content: center;
}

.photograph-photo {
    width: 30%;
    justify-content: center;
    display: flex;
}

.photograph-contact {
    width: 30%;
    display: flex;
    justify-content: center;
}

.photograph-infos p {
    display: flex;
    flex-direction: column;
}

.photograph-infos h1 {
    color: var(--color-secondary);
    font-size: 4rem;
    margin: 0;
}

.photograph-infos p span:nth-child(2) {
    color: var(--color-primary);
    font-size: 1.5rem;
}

.photograph-infos p span:nth-child(3) {
    color: var(--color-grey);
    font-size: 1rem;
} */

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: var(--color-primary);
    border-radius: 5px;
    cursor: pointer;
}

.photograph-main {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin: 30px 100px;
}

.photograph-main label {
    font-weight: 700;
}

.select-wrapper {
    position: relative;
}

.select-button {
    display: flex;
    justify-content: space-between;
    font-family: 'DM Sans', sans-serif;
    background-color: var(--color-primary);
    color: white;
    width: 150px;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
  
}

.select-button::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f106"
}

.filters-list {
    display: none;
    position: absolute;
    top: 0;
    cursor: pointer;
    background-color: var(--color-primary);
    width: 150px;
    color: white;
    border-radius: 5px;
}

.filters-list li {
    padding: 15px;
    font-weight: 700;
    font-size: 1rem;
}

.filters-list li:hover {
    background-color: var(--color-secondary);
    border-radius: 5px;
}

.filters-list li:first-child {
    display: flex;
    justify-content: space-between;
}

.filters-list li:first-child::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f107"
}

.white-line {
    background-color: white;
    height: 1px;
    padding: 0 !important;
}


.photograph-stats {
    position: fixed;
    bottom: 0;
    right: 2%;
    background-color: var(--color-tertiary);
    border-radius: 5px 5px 0 0;
    font-size: 1.2rem;
    font-weight: 600;
    width: 250px;
    padding: 10px;
}

.photograph-stats p {
    display: flex;
    justify-content: space-around;
    margin: 0;
}

.photograph-stats p span:first-child::after{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f004";
    margin-left: 5px;
    font-size: 1.1rem;
}

.photograph-gallery {
    margin: 30px 100px;
}


.gallery-wrapper {
    display: grid;
    justify-content: center;
    gap: 3rem 5rem;
    grid-template-columns: repeat(auto-fill, 350px);
}

.gallery-img {
    width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
}

.gallery-img-infos {
    display: flex;
    justify-content: space-between;
    color: var(--color-primary);
    margin: 0;
    font-size: 1.2rem;
}

.gallery-img-infos span:last-child::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f004";
    margin-left: 5px;
}

/* .modal {
    border-radius: 5px;
    background-color: var(--color-tertiary);
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    position: fixed;
    top: 4%;
    right: 25%;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 2rem;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 1rem;
}

form input {
    width: 100%;
    height: 3rem;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
}

.formData[data-error]::after {
	content: attr(data-error);
	font-size: 1rem;
	color: red;
	display: block;
	opacity: 0;
}

.formData[data-error-visible='true']::after {
	opacity: 1;
}

.formData[data-error-visible='true'] .text-control {
	border: 2px solid red;
}


form textarea {
    resize: none;
    width: 100%;
    border-radius: 5px;
    border: none;
    height: 10vh;
    font-size: 1.5rem;
    font-family: 'DM Sans', sans-serif;
} */

/* .success-submit-container {
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
    top: 0;
    justify-content: center;
}

.success-submit {
    height: max-content;
    border-radius: 10px;
    background-color: #4bb543;
    color: white;
    font-size: 1rem;
    padding: 1rem;
}

.success-submit > p {
    margin: 0;
} */

.close-modal {
    color: white;
    font-size: 3rem;
    cursor: pointer;
}