#contact_modal {
    display: none;
}

.photograph-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-lightgrey);
    height: 300px;
    margin: 0 100px;
}

.photograph-infos {
    width: 30%;
    display: flex;
    justify-content: center;
}

.photograph-photo {
    width: 30%;
    justify-content: center;
    display: flex;
}

.photograph-contact {
    width: 30%;
    display: flex;
    justify-content: center;
}

.photograph-infos p {
    display: flex;
    flex-direction: column;
}

.photograph-infos h1 {
    color: var(--color-secondary);
    font-size: 4rem;
    margin: 0;
}

.photograph-infos p span:nth-child(2) {
    color: var(--color-primary);
    font-size: 1.5rem;
}

.photograph-infos p span:nth-child(3) {
    color: var(--color-medium-grey);
    font-size: 1rem;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: var(--color-primary);
    border-radius: 5px;
    cursor: pointer;
}

.photograph-main {
    /* height: 70vh; */
}

.photograph-stats {
    position: fixed;
    bottom: 0;
    right: 2%;
    background-color: var(--color-tertiary);
    border-radius: 5px 5px 0 0;
    font-size: 1.2rem;
    font-weight: 600;
    width: 250px;
    padding: 10px;
}

.photograph-stats p {
    display: flex;
    justify-content: space-around;
    margin: 0;
}

.modal {
    border-radius: 5px;
    background-color: var(--color-tertiary);
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}